body{
  text-align:center;
  margin:0;
  font-family: Merriweather, serif;
}
h1{
  margin-top:60px;
  margin-bottom:0;
  font-family:Sacramento, cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}
h2{
  font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight:normal;
}
h3{
  font-family: Montserrat, sans-serif;
  color:#11999E;
}
.h2{
  margin-top:0;
}

.top-container{
  background-color: #eaf6f6;
  position: relative;
  padding: 40px;

}
.middle-container{
  margin:50px 0;
}
.bottom-container{
  margin-top:50px;
  background-color: #66BFBF;
  margin-bottom:0;
  padding:30px;
  height:70px;
}

.bottom-cloud{
  position:absolute;
  left:300px;

}

.top-cloud{
  position:relative;
  left: 350px;
  top: 10px;
}
.images{
  margin-top:10px;
  height:200px;
  width: 200px;
  border-radius: 50%;
}
.images1{
  height:200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-right:40px;
}
.images2{
  height:200px;
  width: 200px;
  border-radius: 50%;
  float:right;
  margin-left:40px;
}
.footer-link{
  color: #11999E;
  margin:20px;
  font-family: Montserrat, serif;
  text-decoration: none;
}
.footer-link:hover{
  color:white;
}
.skill-row{
  display: inline-block;
  margin-top: 25px;
  width:50%;
text-align: left;
line-height: 2;
}


hr{
  border-style:none;
  border-top:dotted grey 5px;
  width:5%;
}
.final{
  margin-bottom:0;
  padding:20px;
  color:#EAF6F6;
  font-size:0.75rem;
}
.info{
  color:#40514e;
}

.distance{
  line-height: 2.5rem;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #103247;
  background-image: -webkit-linear-gradient(top, #103247, #3498db);
  background-image: -moz-linear-gradient(top, #103247, #3498db);
  background-image: -ms-linear-gradient(top, #103247, #3498db);
  background-image: -o-linear-gradient(top, #103247, #3498db);
  background-image: linear-gradient(to bottom, #103247, #3498db);
  text-decoration: none;
}
